@import "../../../data/styles.css";

.nav-container {
    position: sticky;
    top: 0px;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid var(--quarternary-color);
}

.nav-background {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 24px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 32px;
}

.nav-item.active a {
    color: var(--primary-color);
}

.nav-item a {
    transition: color 0.1s ease-in-out;
}

.nav-item a:hover {
    color: var(--primary-color);
    transition: color 0.1s ease-in-out;
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}