.header-container {
    z-index: 999;
    top: 0px;
    height: 80px;
}

.header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    height: 100%;
}

.nav-container {
    position: sticky;
    top: 0px;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid var(--quarternary-color);
}

.navbar {
    position: relative;
}

.nav-background {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 24px;
}

.burger-menu {
    width: 100%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.nav-item a {
    text-decoration: none;
}

.nav-list {
    display: none;
    list-style: none;
    gap: var(--gap-moderate);
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid var(--quarternary-color);
    box-sizing: border-box;
}

.nav-list.open {
    display: flex; 
}

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        flex-direction: row; /* Return links side-by-side */
        position: static;    /* Bring it back into normal document flow */
        padding: 0;
        border-bottom: none;
        gap: 48px;
        width: auto;
    }
    .burger-menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .nav-container {
        display: block;
    }
}