:root {
    --primary-color: #695ae7;
    --secondary-color: #24232a;
    --tertiary-color: #0c0c0e;
    --quarternary-color: #7e818b;
    --semantic-green: #25b84c;
    --semantic-red: #f33535;
    --semantic-blue: #475ee4;
    --text-color: #d8dee7;
    --gap-tiny: 4px;
    --gap-small: 8px;
    --gap-moderate: 16px;
    --gap-big: 32px;
    --gap-large: 64px;
}